<!-- listing_info.html -->
{% extends 'base.html' %}
{% block title %} Listing Information {% endblock %}

{% block content %}
  <div class="container">
    <h2>Listing Information</h2>
    <h3>Process to obtain membership</h3>

    
    <p>
      Trading on the floor of the NEPSE is restricted to listed corporate securities and government bonds. Corporate bodies wishing to be listed shall have to submit an application in the prescribed format within a specified time along with a certificate of incorporation, tax certificate, Memorandum of Association, Articles of Association, and the concerned Act, rules, and regulations in the case of a corporate body other than a company.
    </p>
    <p>
      After incorporation, the projected Balance Sheet and Profit & Loss Account for the next three years, last three years audited financial statements (if the year of incorporation is less than three years), the Balance Sheet and Account of investment in shares of subsidiary companies or investments made in its parent company's share capital, details of share investment in any other company other than a subsidiary, name, address, number of shares subscribed, and the amount invested by shareholders having more than 5% of the share capital need to be submitted.
    </p>
  </div>
{% endblock %}
