{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Top Turnover</h1>
    <div class="search-bar">
    </div>
    <div class="data">
        <table>
            <thead>
                <tr>
                    <th>Security ID</th>
                    <th>Security Name</th>
                    <th>Total Turnover</th>
                    <th>Last Traded Price</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for turnover in top_turnover %}
                <tr>
                    <td>{{ turnover.security_id }}</td>
                    <td>{{ turnover.security_name }}</td>
                    <td>{{ turnover.total_turnover }}</td>
                    <td>{{ turnover.last_traded_price }}</td>
                    <td>{{ turnover.volume }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .container {
        margin: 100px 10% 0 10%;
        background-color: var(--light-grey);
    }
    .container h1 {
        margin-top: 10px;
    }
    .search-bar {
        margin-top: 20px;
        height: 30px;
        background-color: var(--primary-color);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    td, th {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
</style>
{% endblock %}
