{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Trading Averages</h1>
    <div class="search-bar">
        <form method="GET" action="{% url 'trading_average' %}">
            <input type="text" name="query" placeholder="Search by Security ID" value="{{ request.GET.query }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="data">
        <table>
            <thead>
                <tr>
                    <th>Security ID</th>
                    <th>Symbol</th>
                    <th>Security Name</th>
                    <th>Closing Price Average</th>
                    <th>Total Traded Amount</th>
                    <th>Total Traded Shares</th>
                    <th>Total Trades</th>
                    <th>Weighted Average</th>
                    <th>Close Price</th>
                    <th>Closing Date</th>
                </tr>
            </thead>
            <tbody>
                {% for average in trading_averages %}
                <tr>
                    <td>{{ average.securityId }}</td>
                    <td>{{ average.symbol }}</td>
                    <td>{{ average.securityName }}</td>
                    <td>{{ average.closingPriceAverage }}</td>
                    <td>{{ average.totalTradedAmount }}</td>
                    <td>{{ average.totalTradedShares }}</td>
                    <td>{{ average.totalTrades }}</td>
                    <td>{{ average.weightedAverage }}</td>
                    <td>{{ average.closePrice }}</td>
                    <td>{{ average.closingDate }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10">No trading averages found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="pagination">
        {% if trading_averages.has_previous %}
            <a href="?page=1&query={{ request.GET.query }}">First</a>
            <a href="?page={{ trading_averages.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
        {% endif %}

        <span>Page {{ trading_averages.number }} of {{ trading_averages.paginator.num_pages }}</span>

        {% if trading_averages.has_next %}
            <a href="?page={{ trading_averages.next_page_number }}&query={{ request.GET.query }}">Next</a>
            <a href="?page={{ trading_averages.paginator.num_pages }}&query={{ request.GET.query }}">Last</a>
        {% endif %}
    </div>
</div>

<style>
    .container {
        margin: 100px 10% 0 10%;
        background-color: var(--light-grey);
    }
    .container h1 {
        margin-top: 10px;
    }
    .search-bar {
        margin-top: 20px;
        background-color: var(--primary-color);
    }
    .search-bar form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-bar input {
        padding: 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .search-bar button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: var(--button-color);
        color: white;
        cursor: pointer;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    td, th {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
    .pagination {
        margin-top: 20px;
        text-align: center;
    }
    .pagination a {
        margin: 0 5px;
        text-decoration: none;
        color: var(--button-color);
    }
</style>
{% endblock %}
