{% extends 'base.html' %}
{% load static %}
{% block title %}
Stock management System - Terms and Conditions
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Terms and Conditions</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, in totam saepe reiciendis repellendus, dolore laudantium tempora numquam aspernatur atque itaque incidunt nemo provident, ab perferendis ipsam impedit illum ipsum.
    </p>
  </div>

  <style>
    .container {
      margin: 100px 10% 0 10%;
    }
    .container h1{
      text-align: center;
      margin: 20px 0;
    }
  </style>
{% endblock %}